/* 
 * LIST
 * */

 [list]:not(input) {
  list-style-position: outside;
  padding: 0;
  display: flex;
}
[list]:not([type]) {
  list-style-type: none;
}
[list] > * {
  padding: var(--size-padding-1) var(--size-padding-2);
  margin-bottom: 0;
}

/* direction */
[list*="vertical"] {
  flex-direction: column;
}
[list*="horizontal"] {
  flex-direction: row;
}

/* bordered */
[list*="vertical"][list*="bordered"] > * {
  border-bottom: 1px solid var(--color-dark-1);
}
[list*="vertical"][list*="bordered"] > *:nth-last-child(1) {
  border-bottom: none;
}

[list*="horizontal"][list*="bordered"] > * {
  border-right: 1px solid var(--color-dark-1);
}
[list*="horizontal"][list*="bordered"] > *:nth-last-child(1) {
  border-right: none;
}

/* color */
@each $color, $color-invert in $color-set {
  [list="#{$color}"] {
    background-color: var(--color-#{$color});
    color: var(--color-#{$color-invert});
  }
  body[dark] [list="#{$color}"] {
    background-color: var(--color-#{$color}-dark);
    color: var(--color-light);
  }
}

/* responsive */
@each $size, $prefix in $screen {
  @media (min-width: $prefix) {
    [#{$size}\:list] {
      padding: var(--size-padding-1) var(--size-padding-2);
    }

    [#{$size}\:list="default"] {
      color: var(--color-dark);
      background-color: var(--color-default);
    }
    body[dark] [#{$size}\:list="default"] {
      color: var(--color-light);
      background-color: var(--color-default-dark);
    }

    @each $color, $color-invert in $color-set {
      [#{$size}\:list="#{$color}"] {
        background-color: var(--color-#{$color});
        color: var(--color-#{$color-invert});
      }
      body[dark] [#{$size}\:list="#{$color}"] {
        background-color: var(--color-#{$color}-dark);
        color: var(--color-light);
      }
    }
  }
}