/* 
 * size
 * */
/* 
 * size
 * */

/* width */
[size*="w-auto"] { width: auto; }
[size*="w-expand"] { width: auto; flex: 1; }
[size*="w-1"] { width: var(--size-width-1); }
[size*="w-2"] { width: var(--size-width-2); }
[size*="w-3"] { width: var(--size-width-3); }
[size*="w-4"] { width: var(--size-width-4); }
[size*="w-5"] { width: var(--size-width-5); }
[size*="w-6"] { width: var(--size-width-6); }

/* height */
[size*="h-auto"] { height: auto; }
[size*="h-expand"] { height: auto; align-self: stretch; }
[size*="h-1"] { height: var(--size-height-1); }
[size*="h-2"] { height: var(--size-height-2); }
[size*="h-3"] { height: var(--size-height-3); }
[size*="h-4"] { height: var(--size-height-4); }
[size*="h-5"] { height: var(--size-height-5); }
[size*="h-6"] { height: var(--size-height-6); }

/* padding */
[size*="p-0"] { padding: 0; }
[size*="p-1"] { padding: var(--size-padding-1); }
[size*="p-2"] { padding: var(--size-padding-2); }
[size*="p-3"] { padding: var(--size-padding-3); }
[size*="p-4"] { padding: var(--size-padding-4); }
[size*="p-5"] { padding: var(--size-padding-5); }
[size*="pt-0"] { padding-top: 0; }
[size*="pt-1"] { padding-top: var(--size-padding-1); }
[size*="pt-2"] { padding-top: var(--size-padding-2); }
[size*="pt-3"] { padding-top: var(--size-padding-3); }
[size*="pt-4"] { padding-top: var(--size-padding-4); }
[size*="pt-5"] { padding-top: var(--size-padding-5); }
[size*="pb-0"] { padding-bottom: 0; }
[size*="pb-1"] { padding-bottom: var(--size-padding-1); }
[size*="pb-2"] { padding-bottom: var(--size-padding-2); }
[size*="pb-3"] { padding-bottom: var(--size-padding-3); }
[size*="pb-4"] { padding-bottom: var(--size-padding-4); }
[size*="pb-5"] { padding-bottom: var(--size-padding-5); }
[size*="ps-0"] { padding-left: 0; }
[size*="ps-1"] { padding-left: var(--size-padding-1); }
[size*="ps-2"] { padding-left: var(--size-padding-2); }
[size*="ps-3"] { padding-left: var(--size-padding-3); }
[size*="ps-4"] { padding-left: var(--size-padding-4); }
[size*="ps-5"] { padding-left: var(--size-padding-5); }
[size*="pe-0"] { padding-right: 0; }
[size*="pe-1"] { padding-right: var(--size-padding-1); }
[size*="pe-2"] { padding-right: var(--size-padding-2); }
[size*="pe-3"] { padding-right: var(--size-padding-3); }
[size*="pe-4"] { padding-right: var(--size-padding-4); }
[size*="pe-5"] { padding-right: var(--size-padding-5); }
[size*="py-0"] { padding-top: 0; padding-bottom: 0; }
[size*="py-1"] { padding-top: var(--size-padding-1); padding-bottom: var(--size-padding-1); }
[size*="py-2"] { padding-top: var(--size-padding-2); padding-bottom: var(--size-padding-2); }
[size*="py-3"] { padding-top: var(--size-padding-3); padding-bottom: var(--size-padding-3); }
[size*="py-4"] { padding-top: var(--size-padding-4); padding-bottom: var(--size-padding-4); }
[size*="py-5"] { padding-top: var(--size-padding-5); padding-bottom: var(--size-padding-5); }
[size*="px-0"] { padding-left: 0; padding-right: 0; }
[size*="px-1"] { padding-left: var(--size-padding-1); padding-right: var(--size-padding-1); }
[size*="px-2"] { padding-left: var(--size-padding-2); padding-right: var(--size-padding-2); }
[size*="px-3"] { padding-left: var(--size-padding-3); padding-right: var(--size-padding-3); }
[size*="px-4"] { padding-left: var(--size-padding-4); padding-right: var(--size-padding-4); }
[size*="px-5"] { padding-left: var(--size-padding-5); padding-right: var(--size-padding-5); }

/* margin */
[size*="m-0"] { margin: 0; }
[size*="m-1"] { margin: var(--size-margin-1); }
[size*="m-2"] { margin: var(--size-margin-2); }
[size*="m-3"] { margin: var(--size-margin-3); }
[size*="m-4"] { margin: var(--size-margin-4); }
[size*="m-5"] { margin: var(--size-margin-5); }
[size*="mt-0"] { margin-top: 0; }
[size*="mt-1"] { margin-top: var(--size-margin-1); }
[size*="mt-2"] { margin-top: var(--size-margin-2); }
[size*="mt-3"] { margin-top: var(--size-margin-3); }
[size*="mt-4"] { margin-top: var(--size-margin-4); }
[size*="mt-5"] { margin-top: var(--size-margin-5); }
[size*="mb-0"] { margin-bottom: 0; }
[size*="mb-1"] { margin-bottom: var(--size-margin-1); }
[size*="mb-2"] { margin-bottom: var(--size-margin-2); }
[size*="mb-3"] { margin-bottom: var(--size-margin-3); }
[size*="mb-4"] { margin-bottom: var(--size-margin-4); }
[size*="mb-5"] { margin-bottom: var(--size-margin-5); }
[size*="ms-0"] { margin-left: 0; }
[size*="ms-1"] { margin-left: var(--size-margin-1); }
[size*="ms-2"] { margin-left: var(--size-margin-2); }
[size*="ms-3"] { margin-left: var(--size-margin-3); }
[size*="ms-4"] { margin-left: var(--size-margin-4); }
[size*="ms-5"] { margin-left: var(--size-margin-5); }
[size*="me-0"] { margin-right: 0; }
[size*="me-1"] { margin-right: var(--size-margin-1); }
[size*="me-2"] { margin-right: var(--size-margin-2); }
[size*="me-3"] { margin-right: var(--size-margin-3); }
[size*="me-4"] { margin-right: var(--size-margin-4); }
[size*="me-5"] { margin-right: var(--size-margin-5); }
[size*="my-0"] { margin-top: 0; margin-bottom: 0; }
[size*="my-1"] { margin-top: var(--size-margin-1); margin-bottom: var(--size-margin-1); }
[size*="my-2"] { margin-top: var(--size-margin-2); margin-bottom: var(--size-margin-2); }
[size*="my-3"] { margin-top: var(--size-margin-3); margin-bottom: var(--size-margin-3); }
[size*="my-4"] { margin-top: var(--size-margin-4); margin-bottom: var(--size-margin-4); }
[size*="my-5"] { margin-top: var(--size-margin-5); margin-bottom: var(--size-margin-5); }
[size*="mx-0"] { margin-left: 0; margin-right: 0; }  
[size*="mx-1"] { margin-left: var(--size-margin-1); margin-right: var(--size-margin-1); }  
[size*="mx-2"] { margin-left: var(--size-margin-2); margin-right: var(--size-margin-2); }  
[size*="mx-3"] { margin-left: var(--size-margin-3); margin-right: var(--size-margin-3); }  
[size*="mx-4"] { margin-left: var(--size-margin-4); margin-right: var(--size-margin-4); }  
[size*="mx-5"] { margin-left: var(--size-margin-5); margin-right: var(--size-margin-5); }


@each $size, $prefix in $screen {
  @media (min-width: $prefix) {
    /* width */
    [#{$size}\:size*="w-auto"] { width: auto; }
    [#{$size}\:size*="w-expand"] { width: auto; flex: 1; }
    [#{$size}\:size*="w-1"] { width: var(--size-width-1); }
    [#{$size}\:size*="w-2"] { width: var(--size-width-2); }
    [#{$size}\:size*="w-3"] { width: var(--size-width-3); }
    [#{$size}\:size*="w-4"] { width: var(--size-width-4); }
    [#{$size}\:size*="w-5"] { width: var(--size-width-5); }
    [#{$size}\:size*="w-6"] { width: var(--size-width-6); }

    /* height */
    [#{$size}\:size*="h-auto"] { height: auto; }
    [#{$size}\:size*="h-expand"] { height: auto; align-self: stretch; }
    [#{$size}\:size*="h-1"] { height: var(--size-height-1); }
    [#{$size}\:size*="h-2"] { height: var(--size-height-2); }
    [#{$size}\:size*="h-3"] { height: var(--size-height-3); }
    [#{$size}\:size*="h-4"] { height: var(--size-height-4); }
    [#{$size}\:size*="h-5"] { height: var(--size-height-5); }
    [#{$size}\:size*="h-6"] { height: var(--size-height-6); }

    /* padding */
    [#{$size}\:size*="p-0"] { padding: 0; }
    [#{$size}\:size*="p-1"] { padding: var(--size-padding-1); }
    [#{$size}\:size*="p-2"] { padding: var(--size-padding-2); }
    [#{$size}\:size*="p-3"] { padding: var(--size-padding-3); }
    [#{$size}\:size*="p-4"] { padding: var(--size-padding-4); }
    [#{$size}\:size*="p-5"] { padding: var(--size-padding-5); }
    [#{$size}\:size*="pt-0"] { padding-top: 0; }
    [#{$size}\:size*="pt-1"] { padding-top: var(--size-padding-1); }
    [#{$size}\:size*="pt-2"] { padding-top: var(--size-padding-2); }
    [#{$size}\:size*="pt-3"] { padding-top: var(--size-padding-3); }
    [#{$size}\:size*="pt-4"] { padding-top: var(--size-padding-4); }
    [#{$size}\:size*="pt-5"] { padding-top: var(--size-padding-5); }
    [#{$size}\:size*="pb-0"] { padding-bottom: 0; }
    [#{$size}\:size*="pb-1"] { padding-bottom: var(--size-padding-1); }
    [#{$size}\:size*="pb-2"] { padding-bottom: var(--size-padding-2); }
    [#{$size}\:size*="pb-3"] { padding-bottom: var(--size-padding-3); }
    [#{$size}\:size*="pb-4"] { padding-bottom: var(--size-padding-4); }
    [#{$size}\:size*="pb-5"] { padding-bottom: var(--size-padding-5); }
    [#{$size}\:size*="ps-0"] { padding-left: 0; }
    [#{$size}\:size*="ps-1"] { padding-left: var(--size-padding-1); }
    [#{$size}\:size*="ps-2"] { padding-left: var(--size-padding-2); }
    [#{$size}\:size*="ps-3"] { padding-left: var(--size-padding-3); }
    [#{$size}\:size*="ps-4"] { padding-left: var(--size-padding-4); }
    [#{$size}\:size*="ps-5"] { padding-left: var(--size-padding-5); }
    [#{$size}\:size*="pe-0"] { padding-right: 0; }
    [#{$size}\:size*="pe-1"] { padding-right: var(--size-padding-1); }
    [#{$size}\:size*="pe-2"] { padding-right: var(--size-padding-2); }
    [#{$size}\:size*="pe-3"] { padding-right: var(--size-padding-3); }
    [#{$size}\:size*="pe-4"] { padding-right: var(--size-padding-4); }
    [#{$size}\:size*="pe-5"] { padding-right: var(--size-padding-5); }
    [#{$size}\:size*="py-0"] { padding-top: 0; padding-bottom: 0; }
    [#{$size}\:size*="py-1"] { padding-top: var(--size-padding-1); padding-bottom: var(--size-padding-1); }
    [#{$size}\:size*="py-2"] { padding-top: var(--size-padding-2); padding-bottom: var(--size-padding-2); }
    [#{$size}\:size*="py-3"] { padding-top: var(--size-padding-3); padding-bottom: var(--size-padding-3); }
    [#{$size}\:size*="py-4"] { padding-top: var(--size-padding-4); padding-bottom: var(--size-padding-4); }
    [#{$size}\:size*="py-5"] { padding-top: var(--size-padding-5); padding-bottom: var(--size-padding-5); }
    [#{$size}\:size*="px-0"] { padding-left: 0; padding-right: 0; }
    [#{$size}\:size*="px-1"] { padding-left: var(--size-padding-1); padding-right: var(--size-padding-1); }
    [#{$size}\:size*="px-2"] { padding-left: var(--size-padding-2); padding-right: var(--size-padding-2); }
    [#{$size}\:size*="px-3"] { padding-left: var(--size-padding-3); padding-right: var(--size-padding-3); }
    [#{$size}\:size*="px-4"] { padding-left: var(--size-padding-4); padding-right: var(--size-padding-4); }
    [#{$size}\:size*="px-5"] { padding-left: var(--size-padding-5); padding-right: var(--size-padding-5); }

    /* margin */
    [#{$size}\:size*="m-0"] { margin: 0; }
    [#{$size}\:size*="m-1"] { margin: var(--size-margin-1); }
    [#{$size}\:size*="m-2"] { margin: var(--size-margin-2); }
    [#{$size}\:size*="m-3"] { margin: var(--size-margin-3); }
    [#{$size}\:size*="m-4"] { margin: var(--size-margin-4); }
    [#{$size}\:size*="m-5"] { margin: var(--size-margin-5); }
    [#{$size}\:size*="mt-0"] { margin-top: 0; }
    [#{$size}\:size*="mt-1"] { margin-top: var(--size-margin-1); }
    [#{$size}\:size*="mt-2"] { margin-top: var(--size-margin-2); }
    [#{$size}\:size*="mt-3"] { margin-top: var(--size-margin-3); }
    [#{$size}\:size*="mt-4"] { margin-top: var(--size-margin-4); }
    [#{$size}\:size*="mt-5"] { margin-top: var(--size-margin-5); }
    [#{$size}\:size*="mb-0"] { margin-bottom: 0; }
    [#{$size}\:size*="mb-1"] { margin-bottom: var(--size-margin-1); }
    [#{$size}\:size*="mb-2"] { margin-bottom: var(--size-margin-2); }
    [#{$size}\:size*="mb-3"] { margin-bottom: var(--size-margin-3); }
    [#{$size}\:size*="mb-4"] { margin-bottom: var(--size-margin-4); }
    [#{$size}\:size*="mb-5"] { margin-bottom: var(--size-margin-5); }
    [#{$size}\:size*="ms-0"] { margin-left: 0; }
    [#{$size}\:size*="ms-1"] { margin-left: var(--size-margin-1); }
    [#{$size}\:size*="ms-2"] { margin-left: var(--size-margin-2); }
    [#{$size}\:size*="ms-3"] { margin-left: var(--size-margin-3); }
    [#{$size}\:size*="ms-4"] { margin-left: var(--size-margin-4); }
    [#{$size}\:size*="ms-5"] { margin-left: var(--size-margin-5); }
    [#{$size}\:size*="me-0"] { margin-right: 0; }
    [#{$size}\:size*="me-1"] { margin-right: var(--size-margin-1); }
    [#{$size}\:size*="me-2"] { margin-right: var(--size-margin-2); }
    [#{$size}\:size*="me-3"] { margin-right: var(--size-margin-3); }
    [#{$size}\:size*="me-4"] { margin-right: var(--size-margin-4); }
    [#{$size}\:size*="me-5"] { margin-right: var(--size-margin-5); }
    [#{$size}\:size*="my-0"] { margin-top: 0; margin-bottom: 0; }
    [#{$size}\:size*="my-1"] { margin-top: var(--size-margin-1); margin-bottom: var(--size-margin-1); }
    [#{$size}\:size*="my-2"] { margin-top: var(--size-margin-2); margin-bottom: var(--size-margin-2); }
    [#{$size}\:size*="my-3"] { margin-top: var(--size-margin-3); margin-bottom: var(--size-margin-3); }
    [#{$size}\:size*="my-4"] { margin-top: var(--size-margin-4); margin-bottom: var(--size-margin-4); }
    [#{$size}\:size*="my-5"] { margin-top: var(--size-margin-5); margin-bottom: var(--size-margin-5); }
    [#{$size}\:size*="mx-0"] { margin-left: 0; margin-right: 0; }  
    [#{$size}\:size*="mx-1"] { margin-left: var(--size-margin-1); margin-right: var(--size-margin-1); }  
    [#{$size}\:size*="mx-2"] { margin-left: var(--size-margin-2); margin-right: var(--size-margin-2); }  
    [#{$size}\:size*="mx-3"] { margin-left: var(--size-margin-3); margin-right: var(--size-margin-3); }  
    [#{$size}\:size*="mx-4"] { margin-left: var(--size-margin-4); margin-right: var(--size-margin-4); }  
    [#{$size}\:size*="mx-5"] { margin-left: var(--size-margin-5); margin-right: var(--size-margin-5); }
  }
}
