/* 
 * text
 * */

[text*="lighter"] { font-weight: lighter; }
[text*="normal"] { font-weight: normal; }
[text*="bold"] { font-weight: bold; }
[text*="italic"] { font-style: italic; }

[text*="underline"] { text-decoration: underline; }
[text*="uppercase"] { text-transform: uppercase; }
[text*="lowercase"] { text-transform: lowercase; }

[text*="nowrap"] { white-space: nowrap; }
[text*="ellipsis"] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[text*="start"] { text-align: left; }
[text*="center"] { text-align: center; }
[text*="end"] { text-align: right; }

[text*="h1"] { font-size: var(--text-h1); display: block; }
[text*="h2"] { font-size: var(--text-h2); display: block; }
[text*="h3"] { font-size: var(--text-h3); display: block; }
[text*="h4"] { font-size: var(--text-h4); display: block; }
[text*="h5"] { font-size: var(--text-h5); display: block; }
[text*="h6"] { font-size: var(--text-h6); display: block; }


/* color */
[text*="default"] { color: var(--color-default) !important; }
[text*="default-1"] { color: var(--color-default-1) !important; }
[text*="default-2"] { color: var(--color-default-2) !important; }
[text*="default-3"] { color: var(--color-default-3) !important; }
[text*="default-4"] { color: var(--color-default-4) !important; }

[text*="primary"] { color: var(--color-primary) !important; }
[text*="primary-1"] { color: var(--color-primary-1) !important; }
[text*="primary-2"] { color: var(--color-primary-2) !important; }
[text*="primary-3"] { color: var(--color-primary-3) !important; }
[text*="primary-4"] { color: var(--color-primary-4) !important; }

[text*="secondary"] { color: var(--color-secondary) !important; }
[text*="secondary-1"] { color: var(--color-secondary-1) !important; }
[text*="secondary-2"] { color: var(--color-secondary-2) !important; }
[text*="secondary-3"] { color: var(--color-secondary-3) !important; }
[text*="secondary-4"] { color: var(--color-secondary-4) !important; }

[text*="dark"] { color: var(--color-dark) !important; }
[text*="dark-1"] { color: var(--color-dark-1) !important; }
[text*="dark-2"] { color: var(--color-dark-2) !important; }
[text*="dark-3"] { color: var(--color-dark-3) !important; }
[text*="dark-4"] { color: var(--color-dark-4) !important; }

[text*="light"] { color: var(--color-light) !important; }
[text*="light-1"] { color: var(--color-light-1) !important; }
[text*="light-2"] { color: var(--color-light-2) !important; }
[text*="light-3"] { color: var(--color-light-3) !important; }
[text*="light-4"] { color: var(--color-light-4) !important; }