/* 
 * FLEX BOX
 * */
[flex] { display: flex; }
[flex*="1"] { flex: 1; }
[flex*="row"] { flex-direction: row; }
[flex*="row-reverse"] { flex-direction: row-reverse; }
[flex*="column"] { flex-direction: column; }
[flex*="column-reverse"] { flex-direction: column-reverse; }
[flex*="wrap"] { flex-wrap: wrap; }
[flex*="middle"] { align-items: center; }
[flex*="start"] { justify-content: flex-start; }
[flex*="center"] { justify-content: center; }
[flex*="end"] { justify-content: flex-end; }
[flex*="between"] { justify-content: space-between; }
[flex*="around"] { justify-content: space-around; }

/* sm */
@media (min-width: 640px) {
  [sm\:flex] { display: flex; }
  [sm\:flex*="1"] { flex: 1; }
  [sm\:flex*="row"] { flex-direction: row; }
  [sm\:flex*="row-reverse"] { flex-direction: row-reverse; }
  [sm\:flex*="column"] { flex-direction: column; }
  [sm\:flex*="column-reverse"] { flex-direction: column-reverse; }
  [sm\:flex*="wrap"] { flex-wrap: wrap; }
  [sm\:flex*="middle"] { align-items: center; }
  [sm\:flex*="start"] { justify-content: flex-start; }
  [sm\:flex*="center"] { justify-content: center; }
  [sm\:flex*="end"] { justify-content: flex-end; }
  [sm\:flex*="between"] { justify-content: space-between; }
  [sm\:flex*="around"] { justify-content: space-around; }
}

/* md */
@media (min-width: 768px) {
  [md\:flex] { display: flex; }
  [md\:flex*="1"] { flex: 1; }
  [md\:flex*="row"] { flex-direction: row; }
  [md\:flex*="row-reverse"] { flex-direction: row-reverse; }
  [md\:flex*="column"] { flex-direction: column; }
  [md\:flex*="column-reverse"] { flex-direction: column-reverse; }
  [md\:flex*="wrap"] { flex-wrap: wrap; }
  [md\:flex*="middle"] { align-items: center; }
  [md\:flex*="start"] { justify-content: flex-start; }
  [md\:flex*="center"] { justify-content: center; }
  [md\:flex*="end"] { justify-content: flex-end; }
  [md\:flex*="between"] { justify-content: space-between; }
  [md\:flex*="around"] { justify-content: space-around; }
}

/* lg */
@media (min-width: 1024px) {
  [lg\:flex] { display: flex; }
  [lg\:flex*="1"] { flex: 1; }
  [lg\:flex*="row"] { flex-direction: row; }
  [lg\:flex*="row-reverse"] { flex-direction: row-reverse; }
  [lg\:flex*="column"] { flex-direction: column; }
  [lg\:flex*="column-reverse"] { flex-direction: column-reverse; }
  [lg\:flex*="wrap"] { flex-wrap: wrap; }
  [lg\:flex*="middle"] { align-items: center; }
  [lg\:flex*="start"] { justify-content: flex-start; }
  [lg\:flex*="center"] { justify-content: center; }
  [lg\:flex*="end"] { justify-content: flex-end; }
  [lg\:flex*="between"] { justify-content: space-between; }
  [lg\:flex*="around"] { justify-content: space-around; }
}

/* xl */
@media (min-width: 1280px) {
  [xl\:flex] { display: flex; }
  [xl\:flex*="1"] { flex: 1; }
  [xl\:flex*="row"] { flex-direction: row; }
  [xl\:flex*="row-reverse"] { flex-direction: row-reverse; }
  [xl\:flex*="column"] { flex-direction: column; }
  [xl\:flex*="column-reverse"] { flex-direction: column-reverse; }
  [xl\:flex*="wrap"] { flex-wrap: wrap; }
  [xl\:flex*="middle"] { align-items: center; }
  [xl\:flex*="start"] { justify-content: flex-start; }
  [xl\:flex*="center"] { justify-content: center; }
  [xl\:flex*="end"] { justify-content: flex-end; }
  [xl\:flex*="between"] { justify-content: space-between; }
  [xl\:flex*="around"] { justify-content: space-around; }
}