[grid] > *,
[grid-sm] > *,
[grid-md] > *,
[grid-lg] > *,
[grid-xl] > * {
  padding: 10px;
  border: 1px solid var(--color-tertiary-2);
  background-color: var(--color-tertiary-1);
}

[flex] > *,
[flex-s] > *, 
[flex-l] > *, 
[flex-xl] > *, 
[flex-xxl] > *, 
[flex-m] > * {
  padding: 30px;
  margin: 5px;
  background-color: var(--color-tertiary-1);
}


[space] {
  background-color: var(--color-tertiary-1);
}


[ring] {
  margin: 5px;
  padding: 20px;
}